.content-wrapper {
  margin: 52px 52px 0 52px;
  &.meeting-room-container {
    .meeting-room-action-section {
      margin-top: 20px;
    }
    .room-dropdown-section {
      margin: 10px 0px 15px;
      height: 32px;
      &:focus {
        outline: 0;
      }
    }
    .reset-btn {
      float: right;
      margin: 10px 0;
    }
    .table-bordered thead th {
      font-size: 13px;
      font-weight: 600;
    }
  }
}
