<div class="content-wrapper meeting-room-container">
  <h2 class="text-center">Book Meeting Room</h2>
  <div *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
  </div>
  <div class="row meeting-room-action-section">
    <div class="col-md-2">
      <div class="btn-group">
        <div class="btn btn-sm btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
          Previous
        </div>
        <div class="btn btn-sm btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-sm btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</span>
    </div>
    <div class="col-md-5">
      <div>Choose room to see the meetings scheduled</div>
      <select class="room-dropdown-section" id="roomName" [(ngModel)]="city" name="roomName" placeholder="Choose Room">
        <option hidden [ngValue]="undefined">Choose Room Name</option>
        <option *ngFor="let room of meetingRooms" [ngValue]="room">{{room.name}}</option>
      </select>
      <button class="btn btn-sm btn-info reset-btn" (click)="resetFilterSelection()">Reset</button>
    </div>
  </div>
  <div class="row">
    <div [ngSwitch]="view" class="col-md-7">
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [dayStartHour]="dayStartHour"
        (eventClicked)="handleEvent($event.event)" (eventTimesChanged)="eventTimesChanged($event)" [dayEndHour]="dayEndHour"
        (hourSegmentClicked)="openBookRoomModal($event)">
      </mwl-calendar-week-view>
    </div>
    <div class="col-md-5">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Agenda</th>
            <th>User Name</th>
            <th>Room Name</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events | filter : city;">
            <td [innerText]="event.title"></td>
            <td [innerText]="event.meta.name"></td>
            <td [innerText]="event.meta.room.name"></td>
            <td [innerText]="event.start | date : 'd/M/yy, h:mm a'"></td>
            <td [innerText]="event.end | date : 'd/M/yy, h:mm a'"></td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="deleteEvent(event)">
                X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="events.length === 0">No meetings scheduled</div>
    </div>
  </div>
</div>
